### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/data/
/src/META-INF/
/.idea/
/.idea/*.xml
/users.ser
/src/client/Client_Data/charbel.azzy@hotmail.com/
/src/server/Server_Data/
/src/META-INF2/META-INF/
/Server_Data/
